:root{

    --mat-datepicker-calendar-date-text-color: white!important;

}

.mat-mdc-card{
    width: 209px;
    height: 0px;
    top: -42px;
}
.mat-calendar-body-cell-content, .mdc-button__label, mat-mdc-button:not(:disabled){
    color: var(--mat-datepicker-calendar-date-text-color);
}

.mat-calendar-body-cell-content {
    color: var(--mat-datepicker-calendar-date-text-color);
}
