<div class="log-container">
  <div class="card">
    <div class="left-card">
        <div class="logo">
          <img src="/assets/img/LOGO-001.svg" alt="" srcset="">
          <h1>SPARTAN</h1></div>
        <div class="police-logo"><img src="/assets/img/01_logo-police-ok2-160x160(1).png" alt="" srcset=""></div>
        <div class="description">
          <h2>Welcome</h2>
          <span></span>
        </div>
    </div>
    <div class="right-card">
          <section class="description">
            <h2>Sigin to Your Account</h2>
            <div>Signin to create Analyse and visualise path</div>
          </section>
        <div class="forms"  >
          <form [formGroup]="loginForm" novalidate  (ngSubmit)="LoginForm()">
              <div class="alert-bg-danger" *ngIf="message">
					{{message}}
              </div>
            <label for="email">Email</label>
            <input type="email" class="form-control"  formControlName="email" placeholder="Enter Your email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter Your Password" name="Password" id="password">
            <button type="submit" name="button" [disabled]="loginForm.invalid" >
              Sign In
            </button>
          </form>
            <div class="forgot_password">
          Forgot Password ?: <a href="#">clique here </a>
        </div>
        </div>
    </div>
  </div>
</div>
