<nav>
    <div class="menu">
    </div>
    <ul>
        <li>
          <a  routerLink="/second" routerLinkActive="active" ariaCurrentWhenActive="page" href="#">Home</a></li>
          <li><a routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page" href="#">Statistic</a></li>
          <li><a  href="/">Chat</a></li>
          <li><a href="/">Premium</a></li>
         <li><a routerLink="/Settings" routerLinkActive="active" ariaCurrentWhenActive="page" href="#">Settings</a></li>
        <li>
          <a  routerLink="/second" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="logout()">Logout</a>
        </li>
    </ul>

</nav>

