 <main class="container-body">
      <div class="up">
          <div class="plot-circle">
            <div class="header">LOREM IPSUM</div>
            <div class="body">
                    <app-circlechart></app-circlechart>
            </div>
          </div>
          <div class="plot-line">
              <div class="header">LOREM IPSUM</div>
              <div class="body">
                  <app-linechart></app-linechart>
              </div>
          </div>

      </div>
      <div class="down">
          <div class="date-description">
             <div class="plot-calender">
              <div class="header">
                LOREM IPSUM
              </div>
              <div class="body">
                     <app-calender></app-calender>
              </div>
          </div>
             <div class="plot-description">
              <div class="header">
                LOREM IPSUM
              </div>
              <div class="body">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Earum ipsam suscipit
                        pariatur perferendis eos facere nesciunt
                        facilis corrupti incidunt, deserunt,
                        nostrum atque. Id labore eaque in
                        corporis sunt ullam repellat?
                    </p>
              </div>
          </div>
          </div>
          <div class="plot-geo">
              <div class="header">
                LOREM IPSUM
              </div>
              <div class="body">
                  <app-geochart></app-geochart>
              </div>
          </div>
      </div>
 </main>
